<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LightInject" version="6.4.1" targetFramework="net48" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net48" />
  <package id="Microsoft.Identity.Model.Extensions" version="2.0.1459.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net48" />
  <package id="Ookii.Dialogs.Wpf" version="5.0.1" targetFramework="net48" />
  <package id="RibbonControlsLibrary" version="4.0.0" targetFramework="net4" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net48" />
  <package id="ZetaLongPaths" version="1.0.12.41" targetFramework="net48" />
</packages>